@*Nathiel Taveras*@
@page "/Direccion/Create"
@attribute [Authorize(Roles = "User,Admin")]
@inject DireccionesService direccionService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@
<PageTitle>Create</PageTitle>
<EditForm Model="Direccion" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />

	@* Label para notificaciones *@
	<label style="color:red;" hidden="@string.IsNullOrEmpty(errorMensaje)">@errorMensaje</label>

	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header text-center">
				<h5 class="card-title">Registro de Direcciones</h5>
			</div>

			<div class="card-body">

				<div class="mb-3">
					<label class="form-label"><strong>Provincia</strong></label>
					<InputSelect class="form-control" @bind-Value="Direccion.Provincia">
						<option value="" selected disabled>--- Seleccione una provincia ---</option>
						@foreach (var provincia in ProvinciasRD)
						{
							<option value="@provincia">@provincia</option>
						}
					</InputSelect>
					<ValidationMessage For="@(() => Direccion.Provincia)" class="text-danger" />
				</div>

				<div class="mb-3">
					<label class="form-label"><strong>Ciudad</strong></label>
					<InputText class="form-control" @bind-Value="Direccion.Ciudad"></InputText>
					<ValidationMessage For="(() => Direccion.Ciudad)" class="text-danger" />
				</div>


				<div class="mb-3">
					<label class="form-label"><strong>Direccion</strong></label>
					<InputText class="form-control" @bind-Value="Direccion.Direccion1"></InputText>
					<ValidationMessage For="(() => Direccion.Direccion1)" class="text-danger" />
				</div>

				<div class="mb-3">
					<label class="form-label"><strong>Direccion (continuacion)</strong></label>
					<InputText class="form-control" @bind-Value="Direccion.Direccion2"></InputText>
				</div>
				<div class="mb-3">
					<label class="form-label"><strong>Codigo Postal</strong></label>
					<InputText class="form-control" @bind-Value="Direccion.CodigoPostal"></InputText>
					<ValidationMessage For="(() => Direccion.CodigoPostal)" class="text-danger" />
				</div>
			</div>


			@* Footer *@
			<div class="card-footer text-center mt-2">
				<a href="/Direccion/Index" class="btn btn-outline-danger"><span class="bi bi-arrow-left"></span>Volver</a>
				<button type="submit" class="btn btn-outline-success bi bi-floppy">Guardar</button>
				<button type="reset" class="btn btn-outline-primary bi bi-plus" @onclick="Nuevo">Nuevo</button>
			</div>
		</div>
	</div>
</EditForm>


@code {
	public Direccion Direccion { get; set; } = new Direccion();
	public string errorMensaje { get; set; } = string.Empty;
	private string userId = string.Empty;
	private bool IsAuthenticated = false;

	protected override async Task OnInitializedAsync(){
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
	}

	public async Task Guardar()
	{
		errorMensaje = string.Empty;
		if (string.IsNullOrWhiteSpace(Direccion.Direccion2))
		{
			Direccion.Direccion2 = "N/A";
		}
		Direccion.Id = userId;

		var guardo = await direccionService.Guardar(this.Direccion, userId);
		if (guardo != null)
		{
			navigationManager.NavigateTo("/Direccion/Index");
		}
		else
		{
			errorMensaje = "Error al guardar el Registro";
		}


	}

	public void Nuevo()
	{
		this.Direccion = new Direccion();
	}

	private List<string> ProvinciasRD = new List<string>
	{
		"Distrito Nacional",
		"Azua",
		"Bahoruco",
		"Barahona",
		"Dajabón",
		"Duarte",
		"Elías Piña",
		"El Seibo",
		"Espaillat",
		"Hato Mayor",
		"Hermanas Mirabal",
		"Independencia",
		"La Altagracia",
		"La Romana",
		"La Vega",
		"María Trinidad Sánchez",
		"Monseñor Nouel",
		"Monte Cristi",
		"Monte Plata",
		"Pedernales",
		"Peravia",
		"Puerto Plata",
		"Samaná",
		"Sánchez Ramírez",
		"San Cristóbal",
		"San José de Ocoa",
		"San Juan",
		"San Pedro de Macorís",
		"Santiago",
		"Santiago Rodríguez",
		"Santo Domingo",
		"Valverde"
	};
}
